<!DOCTYPE html>
<html lang = "en">
<head>
    <meta charset = "UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>COVID19 PREDICTOR</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <h1>COVID19 PREDICTOR</h1>
    <canvas id="myChart" width="900" height="400"></canvas>
    <script>
    var ctx = document.getElementById('myChart').getContext('2d');
    var myChart = new Chart(ctx, {
            type:"line",
            data: {
                labels: {{ labels | safe }},
                datasets: [
                    {
                        label: "Daily Cases In India",
                        data: {{ values | safe }},
                        fill: false,
                        borderColor: "rgb(75, 192, 192)",
                        lineTension: 0.1  
                    }
                  ]
              },
              options: {
                  responsive: false
              }
        })
    </script>
</body>
</html>
       